body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  text-align: left;
}

.linkstyle {
  text-decoration: none ;
  color: black;
}

img {
  max-width: 100vw;
}

h2, p {
  padding: 0 2%;
}

.head-bar {
  background-color: lightblue;
}

.icon {
  height: 30px;
  padding: 10px;
}

.beer-image {
  height: 150px;
  width: 60px;
  padding: 0 5%;
  object-fit: cover;
}

.beer-block {
  display: flex;
  padding: 5%;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}